@mixin absolute_center_mixin($width, $height) {
  position: relative;
    top: 50%;
    left: 50%;
    margin-left: -($width / 2);
    margin-top: -($height / 2);
    width: $width;
    height: $height;
}

$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-n: 16px;
$font-size-m: 14px;
$font-size-s: 12px;

$color-n: #3E3A39;
$color-n-2: #595757;
$color-white: #fff;
$color-dark: #303540;
$color-red: #D83856;
$color-blue: #2EA7E0;
$color-gray: #898989;
$color-light-gray: #727171;
$color-silvery-gray: #B5B5B6;
$color-border-gray: #C9CACA;
$color-french-gray: #DCDDDD;
$color-ashy: #F7F8F8;
$color-text-gray: #9FA0A0;

$img-url-public: "../images/";
$img-url-login: "../images/login/";
$img-url-home: "../images/home/";

html, body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  background-color: #fff;
  color: $color-n;
  font-size: $font-size-n;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

a.a-gray {
  color: $color-silvery-gray;

  &:hover {
    color: $color-silvery-gray;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.color-n {
  color: $color-n;
}

.color-red {
  color: $color-red;
}

.color-dark {
  color: $color-dark;
}

.color-gray {
  color: $color-gray;
}

.color-light-gray {
  color: $color-light-gray;
}

.color-silvery-gray {
  color: $color-silvery-gray;
}

.color-text-gray {
  color: $color-text-gray;
}

.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-l {
  font-size: $font-size-l;
}

.font-size-m {
  font-size: $font-size-m;
}

.font-size-s {
  font-size: $font-size-s;
}

.divider {
  color: $color-border-gray;
}

.login-bg-1 {
  background-image: url("#{$img-url-login}bg_1.jpg");
  background-size: cover;
}
.login-bg-2 {
  background-image: url("#{$img-url-login}bg_2.jpg");
  background-size: cover;
}
.login-bg-3 {
  background-image: url("#{$img-url-login}bg_3.jpg");
  background-size: cover;
}
.login-bg-4 {
  background-image: url("#{$img-url-login}bg_4.jpg");
  background-size: cover;
}
.login-bg-5 {
  background-image: url("#{$img-url-login}bg_5.jpg");
  background-size: cover;
}

.tag-red {
  background-color: $color-red;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  width: 67px;
  height: 21px;
  line-height: 21px;
  /*cursor: default;*/
}

.container {
  height: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

.login-card {
  @include absolute_center_mixin(380px, 390px);

  .card {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);

      .card-header {
      border: none;
        background: transparent;
    }

    .card-body {

      .login-form {

        input.form-control {
          border: none;
          background: transparent;
          outline: none;
        }

        input.form-control:focus {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .form-group {
            border-bottom: 1px solid #e6e5e7;
        }

        .input-group {

          .input-group-addon {
            padding-top: 5px;
          }

        }

        .btn-login {
          width: 320px;
        }
      }

      .forget {
        padding: 15px 0 20px 0;

        a {
          font-size: $font-size-s;
            color: $color-n-2;
        }
      }
    }

      .card-footer {
        background: transparent;
        border: none;

        p {
          font-size: $font-size-s;
          color: $color-n-2;
        }

        a {
          font-size: $font-size-s;
          color: $color-n-2;
        }
      }
  }
}

.navbar {
  font-size: $font-size-l;
  color: rgba(255, 255, 255, 0.5);
  background-color: $color-dark;
  min-height: 60px;
  /*padding-left: 260px;*/
  padding-left: 0;
  padding: 0;

  .navbar-nav {
    .nav-item {
      width: 140px;
      min-height: 60px;
      position: relative;

      .triangle-up {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -9px;
      }

      a.nav-link {
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
      }
    }
    .nav-item:hover {
      a.nav-link {
        color: white;
      }
    }
    .active {
      color: white;
      background-color: $color-red;
    }
  }
}

#navbarNavDropdown {
  margin-left: 210px;
}

.notice {
  padding-top: 4px;
    img {
      @include absolute_center_mixin(19px, 21px);
    }
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #EFEFEF;
}

.my-menu {
  margin-left: 15px;
}

.my-nav-tabs {

  & > .nav-tabs {
    margin-left: 40px;
    border-bottom: 1px solid $color-border-gray;

    .nav-item  {
      padding-right: 40px;
      padding-top: 20px;

      a {
        color: $color-n;
        border: none;
        &:hover {
          border: none;
          border-bottom: 2px solid $color-red;
        }
      }

      a.active {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid $color-red;
      }
    }
  }

  .list-group-item {
    padding-top: 30px;
    padding-left: 40px;
  }
}

.my-nav-tabs-top {
  .nav-tabs {
    border-bottom: 0;

    .nav-item  {
      width: 129px;
      height: 50px;

      a.nav-link {
        color: $color-n;
        line-height: 48px;
        padding: 1px 0 0 0;
        border-top: 1px solid $color-border-gray;
        border-left: 1px solid $color-border-gray;
        border-bottom: 1px solid $color-border-gray;
        border-right: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &:hover {
          //border-right: none;
        }
      }
      a.active {
        padding-top: 0;
        border-top: 2px solid $color-red;
        border-right: none;
        border-bottom: none;
      }

      &:first-child {
        a.active {
          //border-left: 1px solid $color-border-gray;
          border-left: none;
        }
      }

      &:last-child {
        a.nav-link {
          border-right: 1px solid $color-border-gray;
        }
      }
    }
  }
}

.main-bg {
  height: auto;
  background-color: #EFEFEF;

  .home {
    padding-top: 30px;

    .banner {
      width: 100%;
      max-height: 126px;
      background-image: url('#{$img-url-home}nav_bg.png');
      background-size: 100% 100%;
      margin-bottom: 26px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .message {
        width: 100%;
        min-height: 214px;
        background-color: white;

        .row {
          //height: 100%;
          margin: 0;
          .col {
            padding: 0;
          }
        }
        h4 {
          font-size: $font-size-xl;
          font-weight: bold;
          line-height: $font-size-xl;
        }
        h5 {
          color: $color-n;
          font-size: $font-size-l;
        }
        b {
          font-size: $font-size-m;
        }
        p {
          color: $color-gray;
          font-size: $font-size-s;
        }
        .top {
          border-bottom: 1px solid $color-border-gray;
        }
        .bottom {
          .col-auto {
            border-left: 1px solid $color-border-gray;

            .tip-item {
              width: 168px;
            }

            &:first-child {
              border-left: none;
              padding-left: 0;

              .tip-item {
                width: auto;
                padding-right: 50px;
              }
            }
          }
        }
    }

    .list {
      width: 100%;
      min-height: 441px;
      background-color: white;
      margin-top: 25px;

      .my-nav-tabs {
        .nav-tabs {
          min-height: 54px;
        }
      }

      .tab-content {
        min-height: 516px;

        .tab-pane {
          min-height: 516px;
          .list-group {
            min-height: 516px;
            .list-group-item {
              min-height: 516px;
            }
          }
        }
        .empty {
          min-height: 516px;
          img {
            margin-bottom: 30px;
          }
          p {
            color: $color-text-gray;
          }
        }
      }
    }

    .general {
      height: 100%;
      background-color: white;
      padding: 38px 23px;

      .avatar {
        margin-bottom: 21px;
      }
      h3 {
        font-size: $font-size-l;
      }
      h4 {
        font-size: $font-size-n;
        margin-bottom: 0;
      }
      h5 {
        font-size: $font-size-m;
      }
      p {
        font-size: $font-size-s;
      }
      .list-item {
        padding-top: 26px;
        padding-bottom: 26px;

        .title {
          img {
            margin-right: 10px;
          }
        }
      }
      .content {
        margin-top: 26px;

        h3 {
          color: $color-blue;
        }
        p {
          margin-bottom: 0;
        }
        .col {
          border-left: 1px solid $color-border-gray;
          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}

.second-navbar {
  background-color: white;

  .jobs {
    margin-left: 295px;
  }

  .resumes {
    margin-left: 362px;
  }

  .management {
    margin-left: 645px;
  }

  .container {
    min-height: 60px;
  }

  .my-nav-tabs {
    min-height: 60px;

    .nav-tabs {
      min-height: 60px;
      border-bottom: none;

      .nav-item {
        width: 139px;
        min-height: 60px;
        padding-top: 0;

        a {
          padding: 0;
          line-height: 60px;
          &:hover {
            border-bottom: 3px solid $color-red;
          }
        }
        a.active {
          color: $color-red;
          border-bottom: 3px solid $color-red;
        }
        a.nav-link {

        }
      }
    }
  }
}

.job-create {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;
}

.default-form {

  .btn-form-submit {
    margin-top: 100px;
  }

  .form-header {
    height: 54px;
  }

  .form-body {
    padding-left: 55px;
    //padding-top: 49px;

    .form-group {
      min-height: 30px;
      margin-left: 87px;
      margin-bottom: 18px;

      .company-pre {
        width: 429px;
        min-height: 212px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 15px 20px 30px 25px;

        > .row {
          &:nth-child(1) {
            .col {
              padding-bottom: 24px;
            }
          }
          &:nth-child(2) {
            > .col {
              .row {
                .col {
                  &:nth-child(1) {
                    padding-right: 4px;
                  }
                  &:nth-child(2) {
                    max-width: 160px;
                    padding-left: 4px;
                  }
                }
              }
            }
          }
          &:nth-child(4) {
            > .col {
              > div {
                //height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }

      > label {
        &:first-child {
          width: 150px;
          text-align:right;
          margin-right: 20px;
          justify-content: flex-end;

          > span {
            margin-right: 5px;
            color: $color-red;
          }
        }
      }

      a {
        color: $color-red;

        &:hover {
          color: $color-red;
        }

        span {
          margin-left: 10px;
        }
      }

      > span {
        color: $color-red;

        &:first-child {
          width: 11px;
        }
      }

      .form-control {
        //height: 30px;
        line-height: 30px;
        //border: 1px solid $color-n;
        border-radius: 5px;

        &::-webkit-input-placeholder {
          font-size: $font-size-m;
          color: $color-silvery-gray;
          text-align: left;
        }

        &:focus {
          //border: 1px solid $color-red;
          //box-shadow: none;
        }
      }

      select.form-control {
        option {
          //color: $color-silvery-gray;
          font-size: $font-size-m;
        }
      }

      .append {
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;
      }

      .normal {
        min-width: 429px;
      }

      .middle {
        width: 330px;
      }

      .middle-append {
        width: 288px;
      }

      .small {
        width: 53px;
      }

      .mini {
        width: 107px;
      }
    }

    .form-title {
      border-left: 3px solid $color-red;
      padding-left: 15px;
      margin-bottom: 37px;
      margin-top: 61px;

      h5 {
        font-size: $font-size-l;
      }

      p {
        font-size: $font-size-m;
      }
    }
  }
}

.job-list {
  margin-top: 25px;

  .job-list-body {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 113px;

    .default-list {
      padding-top: 48px;

      .btn {
        width: 93px;
        //height: 29px;
      }
    }

    .empty {
      padding-top: 48px;
    }
  }

  .tab-content {
    margin-top: 1px;
    .list-group-item {
      padding: 0;
    }
  }
}

.default-table {
  border: 1px solid rgba(216, 56 ,86, 0.1);
  font-size: 14px;

  thead {
    background-color: rgba(216, 56 ,86, 0.1);

    th {
      color: $color-red;
      font-weight: normal;
      border-top: 1px solid rgba(216, 56 ,86, 0.1);
      border-bottom: 1px solid rgba(216, 56 ,86, 0.1);
    }
  }

  td {
    vertical-align: middle;
    border-bottom: 1px solid rgba(216, 56 ,86, 0.1);

    a {
      &:hover {
        color: $color-red;
      }
    }
  }
}

.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: white;
      }
      &:nth-of-type(even) {
        background-color: rgba(216, 56 ,86, 0.03);
      }
    }
  }
}

.pagination {
  li {
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .page-item {
    .page-link {
      width: 30px;
      height: 30px;
      color: black;
      border-color: $color-n;
      border-radius: 5px;
      padding: 0;
      padding-top: 3px;
      padding-bottom: auto;
    }
  }

  .active {
    .page-link {
      background-color: white;
      border-color: $color-red;
      color: $color-red;
    }
  }

  .page-goto {
    margin-left: 31px;

    input {
      width: 56px;
      height: 29px;
      line-height: 29px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.btn-dropdown {
  width: 97px;
  height: 30px;
  border: 1px solid $color-border-gray;
  padding: 0;
  line-height: 30px;
}

.job-detail {

  .job-detail-header {
    min-height: 260px;
    margin-top: 24px;
    padding: 32px 36px 26px 36px;

    form {
      display: inline;
    }

    .row {

      &:nth-child(2) {
        margin-top: 53px;
      }
      &:nth-child(3) {
        margin-top: 23px;

        .col-auto {
          //padding-right: 26px;

          &:not(:first-child) {
            //padding-left: 26px;
            //border-left: 1px solid $color-border-gray;
          }
        }
      }
      &:nth-child(4) {
        margin-top: 58px;

        .col-auto {
          //padding-right: 15px;

          &:not(:first-child) {
            //padding-left: 26px;
            //border-left: 1px solid $color-border-gray;
          }
        }
      }
    }

    small {
      color: $color-light-gray;
      font-size: $font-size-s;
    }
    p {
      color: $color-light-gray;
      font-size: $font-size-m;
      margin-bottom: 0;
    }
    h1 {
      color: $color-n;
      font-size: $font-size-xl;
      margin-bottom: 0;
    }
    h5 {
      color: $color-n;
      font-size: $font-size-n;
    }
    h6 {
      color: $color-silvery-gray;
      font-size: $font-size-m;
      margin-bottom: 0;

      label {
        color: $color-n;
        font-size: $font-size-n;
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }

  .job-detail-list {
    margin-top: 22px;

    .my-nav-tabs-top {
      margin-top: 18px;
      margin-bottom: 30px;

      .nav-tabs {

        .nav-item {
          width: 129px;
          height: 30px;

          a.nav-link {
            font-size: $font-size-m;
            line-height: 28px;
            padding-top: 0;
          }

          a.active {
            border: none;
            padding: 1px;
            background-color: $color-red;
            color: white;
          }
        }
      }
    }
  }
}

.jobtype-modal {
  .modal-dialog  {
    max-width: 840px;

    .modal-content {
      width: 840px;
      height: 550px;

      .modal-header {
        height: 56px;
        padding-left: 25px;
      }

      .modal-body {
        padding: 0;

        ul.jobtype-list {
          width: 197px;
          height: 490px;
          padding: 12px 0;
          margin-bottom: 0;
          font-size: 14px;
          color: $color-n;
          background: #fafafa;
          overflow-y: scroll;

          li {
            //padding-left: 22px;
            cursor: pointer;

            p {
              margin-bottom: 0;
            }

            a {
              height: 44px;
              line-height: 44px;
              padding-left: 22px;
              color: $color-n;
              text-decoration: none;
            }
          }

          li.selected {
            border-left: 4px solid;
            border-color: $color-red;
            background-color: #fff;

            a {
              padding-left: 18px;
            }
          }

          ul.sec-list {
            width: 100%;
            height: auto;
            padding-left: 0;

            li {
              padding-left: 34px;
              cursor: pointer;

              a {
                height: 44px;
                line-height: 44px;
                color: $color-n;
                text-decoration: none;
              }
            }

            li.selected {
              padding-left: 30px;
              border-left: 4px solid;
              border-color: $color-red;
              background-color: #fff;
            }
          }
        }

        .jobtype-item {
          height: 44px;
          line-height: 44px;
          font-size: $font-size-m;
          margin-bottom: 0;
          cursor: pointer;
          user-select: none;

          svg {
            color: $color-red;
            border: 1px solid $color-red;
          }

          a {
            margin-left: 8px;
            line-height: 44px;
          }
        }

        .item-all {
          background: #fafafa;
          padding: 10px 0;
          font-size: $font-size-m;
          color: #666;

          span {
            cursor: pointer;

            a {
              padding: 5px 10px;
              line-height: 44px;
            }
          }
        }

        .item-detail {
          background: #fafafa;
          border: 1px solid #efefef;
          padding: 10px 0;
          font-size: $font-size-m;
          color: #666;

          span {
            cursor: pointer;

            a {
              margin-left: 13px;
              padding: 5px 10px;
              line-height: 44px;
            }
          }

          &:before {
            content: "";
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #efefef;
            position: absolute;
            top: -9px;
          }
          &:after {
            content: "";
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fafafa;
            position: absolute;
            top: -8px;

          }
        }

        .item-detail.st {
          &:before {
            left: 58px;
          }
          &:after {
            left: 60px;
          }
        }

        .item-detail.nd {
          &:before {
            left: 258px;
          }
          &:after {
            left: 260px;
          }
        }

        .item-detail.rd {
          &:before {
            left: 458px;
          }
          &:after {
            left: 460px;
          }
        }
      }
    }
  }
}

.msg-modal {
  .modal-content {
    width: 276px;
    min-height: 256px;

    .modal-body {
      .container-fluid {
        .row {
          &:nth-child(1) {
            .col-auto {
              padding-top: 27px;
              padding-bottom: 30px;
            }
          }
          &:nth-child(3) {
            .col-auto {
              padding-top: 21px;
              padding-bottom: 31px;
            }
          }
        }
      }
    }

    .btn-modal {
      width: 103px;
      height: 34px;
      line-height: 34px;
      border-radius: 10px;
      color: white;
      padding: 0;
    }

    .btn-success {
      background-color: #3FC382;
    }

    .btn-fail {
      background-color: #F54847;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }
}

.draft-table {
  tr {
    cursor: pointer;

    &:hover {
      td {
        background-color: rgba(181,181,182, 0.1);
      }
    }
  }
}

.commission {
  padding: 30px 35px;
  border: 1px solid rgba(216, 56 ,86, 0.1);
  margin-bottom: 16px;

  p {
    margin-bottom: 0;
  }

  .row {
    &:nth-child(2) {
      padding-top: 22px;

      .col {
        &:nth-child(2) {
          margin-left: 53px;

          p {
            &:nth-child(1) {
              span {
                padding-left: 8px;
                padding-right: 8px;
                opacity: 0.3;
              }
            }
            &:nth-child(2) {
              margin-top: 20px;
            }
            &:nth-child(3) {
              margin-top: 10px;
            }
            &:nth-child(4) {
              margin-top: 10px;
            }
            &:nth-child(5) {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

.job-detail {
  .row {
    .col-12 {
      &:first-child {
        h5 {
          border-left: 3px solid $color-red;
          padding-left: 15px;
        }
      }
    }

    .col {
      p {
        margin-top: 25px;
      }
    }
  }
}

.confirm-modal {
  .modal-dialog  {
    max-width: 525px;

    .modal-content {
      width: 525px;
      height: 195px;

      .modal-header {
        height: 45px;
        padding-left: 25px;
      }

      .modal-body {
        height: 150px;
      }
    }
  }
}

.company-modal {
  .modal-dialog  {
    max-width: 580px;

    .modal-content {
      width: 580px;
      height: 625px;

      .modal-header {
        height: 73px;
        padding-left: 25px;
      }

      .modal-body {
        height: 552px;
        padding: 0;
        overflow-y: scroll;

        .default-form {
          .form-body {
            padding: 40px 30px 97px 30px;

            .form-group {
              margin-left: 0;

              .normal {
                //width: auto;
              }
            }
          }

          button {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.circle-red {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 2px solid $color-red;
}

.user-show {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;

  .default-form {
    padding-left: 55px;
    font-size: $font-size-m;

    .divider {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .form-header {
      h5 {
        line-height: 54px;
      }
    }

    .form-body {
      padding-left: 0;
      form {
        .form-title {
          margin-top: 0;
          margin-bottom: 0;
          font-size: $font-size-m;
        }
        > .row {
          > .col {
            &:first-child {
              .row {
                margin-top: 27px;
              }
            }
            &:last-child {
              line-height: 12px;

              a {
                font-size: $font-size-s;
                color: $color-red;
                &:hover {
                  color: $color-red;
                }
              }
            }
          }
        }
      }
    }
  }
}

.user-edit {
  margin-top: 25px;

  .default-form {
    padding: 95px 75px;

    .form-body {
      background-color: #EFEFEF;
      border-radius: 5px;
      padding-left: 68px;
      padding-top: 48px;
      padding-bottom: 42px;

      .form-title {
        margin-top: 0;
      }

      .btn-form-submit {
        margin-top: 38px;
      }
    }
  }
}

.btn-danger {
  //width: 79px;
  //height: 30px;
  font-size: 12px;
  background-color: $color-red;
  color: white;
}

.btn-info {
  font-size: 12px;
  background-color: white;
  color: $color-red;
  border: 1px solid $color-red;

  &:hover {
    background-color: $color-red;
    color: white;
    border-color: $color-red;
  }

  &:focus {
    background-color: $color-red;
  }

  &:active {
    background-color: $color-red;
  }
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: $color-red;
  color: white;
  border-color: $color-red;
}

.btn-light {
  //width: 79px;
  //height: 30px;
  font-size: 12px;
  background-color: white;
  color: $color-n;
  border: 1px solid #ced4da;
}

.btn-dropdown {
  height: 32px;
}

.dropdown-item {
  &:hover {
    color: $color-red;
  }
  &:active {
    color: $color-red;
    background: white;
  }
}

.tag {
  height: 22px;
  line-height: 22px;
  padding: 0 14px;
  font-size: $font-size-s;
  color: $color-n;
  border-radius: 10px;
  text-align: center;
}

.tag-light {
  color: $color-n;
  background-color: rgba(159, 160, 160, 0.2);
}

ul.nav-sec-left {
  width: auto;
  height: auto;
  padding: 12px 0;
  margin-bottom: 0;
  font-size: $font-size-n;
  color: $color-n;

  > li {
    line-height: 40px;
    cursor: pointer;

    &:before {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #EFEFEF;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -9px;
    }

    a {
      height: 44px;
      height: 44px;
      padding-left: 22px;
      font-size: $font-size-n;
      color: $color-n;
    }

    ul.sub {
      width: 100%;
      height: auto;
      padding-left: 0;

      > li {
        cursor: pointer;

        a {
          height: 44px;
          line-height: 44px;
          padding-left: 36px;
          font-size: $font-size-m;
          color: $color-n;
        }
      }

      > li.active {
        border-left: 4px solid $color-red;
        background-color: white;

        a {
          padding-left: 32px;
          color: $color-red;
        }
      }
    }
  }
}

.nav-tabs-border {
  > ul.nav-tabs {
    border-bottom: 0;

    .nav-item  {
      width: 130px;
      height: 50px;

      a.nav-link {
        color: $color-n;
        line-height: 50px;
        padding: 1px 0 0 0;
        border-top: 1px solid $color-border-gray;
        border-left: 1px solid $color-border-gray;
        border-bottom: 1px solid $color-border-gray;
        border-right: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &:hover {
        }
      }

      a.active {
        padding-top: 0;
        border-top: 2px solid $color-red;
        border-right: none;
        border-bottom: none;
      }

      &:first-child {
        a.active {
          border-left: none;
        }
      }

      &:last-child {
        a.nav-link {
          border-right: 1px solid $color-border-gray;
        }
      }
    }
  }
}
