@mixin absolute_center_mixin($width, $height) {
  position: relative;
    top: 50%;
    left: 50%;
    margin-left: -($width / 2);
    margin-top: -($height / 2);
    width: $width;
    height: $height;
}

$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-n: 16px;
$font-size-m: 14px;
$font-size-s: 12px;

$color-n: #3E3A39;
$color-n-2: #595757;
$color-white: #fff;
$color-dark: #303540;
$color-red: #D83856;
$color-blue: #2EA7E0;
$color-gray: #898989;
$color-light-gray: #727171;
$color-silvery-gray: #B5B5B6;
$color-border-gray: #C9CACA;

$img-url-public: "../images/";
$img-url-login: "../images/login/";
$img-url-home: "../images/home/";

html, body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  background-color: #fff;
  color: $color-n;
  font-size: $font-size-n;
  font-weight: normal;
}

a {
  color: $color-white;
}

a:hover {
  color: $color-white;
}

.color-red {
  color: $color-red;
}

.divider {
  color: $color-border-gray;
}

.login-bg-1 {
  background-image: url("#{$img-url-login}bg_1.jpg");
  background-size: cover;
}
.login-bg-2 {
  background-image: url("#{$img-url-login}bg_2.jpg");
  background-size: cover;
}
.login-bg-3 {
  background-image: url("#{$img-url-login}bg_3.jpg");
  background-size: cover;
}
.login-bg-4 {
  background-image: url("#{$img-url-login}bg_4.jpg");
  background-size: cover;
}
.login-bg-5 {
  background-image: url("#{$img-url-login}bg_5.jpg");
  background-size: cover;
}

.tag-red {
  background-color: $color-red;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  width: 67px;
  height: 21px;
  line-height: 21px;
  /*cursor: default;*/
}

.container {
  height: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

.login-card {
  @include absolute_center_mixin(380px, 390px);

  .card {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);

      .card-header {
      border: none;
        background: transparent;
    }

    .card-body {

      .login-form {

        input.form-control {
          border: none;
            background: transparent;
            outline:none;
        }

        input.form-control:focus {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .form-group {
            border-bottom: 1px solid #e6e5e7;
        }

        .input-group {

          .input-group-addon {
            padding-top: 5px;
          }

        }

        .btn-login {
          width: 320px;
        }
      }

      .forget {
        padding: 15px 0 20px 0;

        a {
          font-size: $font-size-s;
            color: $color-n-2;
        }
      }
    }

      .card-footer {
        background: transparent;
        border: none;

        p {
          font-size: $font-size-s;
          color: $color-n-2;
        }

        a {
          font-size: $font-size-s;
          color: $color-n-2;
        }
      }
  }
}

.navbar {
  font-size: $font-size-l;
  color: rgba(255, 255, 255, 0.5);
  background-color: $color-dark;
  min-height: 60px;
  /*padding-left: 260px;*/
  padding-left: 0;
  padding: 0;

  .navbar-nav {
    .nav-item {
      width: 140px;
      min-height: 60px;
      position: relative;

      .triangle-up {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -9px;
      }

      a.nav-link {
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
      }
    }
    .nav-item:hover {
      a.nav-link {
        color: white;
      }
    }
    .active {
      color: white;
      background-color: $color-red;
    }
  }
}

#navbarNavDropdown {
  margin-left: 210px;
}

.notice {
  padding-top: 4px;
    img {
      @include absolute_center_mixin(19px, 21px);
    }
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #EFEFEF;
}

.my-menu {
  margin-left: 15px;
}

.my-nav-tabs {

  & > .nav-tabs {
    margin-left: 40px;
    border-bottom: 1px solid $color-border-gray;

    .nav-item  {
      padding-right: 40px;
      padding-top: 20px;

      a {
        color: $color-n;
        border: none;
        &:hover {
          border: none;
          border-bottom: 2px solid $color-red;
        }
      }

      a.active {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid $color-red;
      }
    }
  }
}

.my-nav-tabs-top {
  .nav-tabs {
    border-bottom: 0;

    .nav-item  {
      width: 129px;
      height: 50px;
      border-top: 1px solid $color-border-gray;
      border-right: 1px solid $color-border-gray;
      border-bottom: 1px solid $color-border-gray;

      a.nav-link {
        color: $color-n;
        padding: 0;
        line-height: 48px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &:hover {
          border-bottom: none;
        }
      }
      a.active {
        border-top: 2px solid $color-red;
        border-left: none;
        border-bottom: none;
      }
    }
  }
}

.main-bg {
    background-color: #EFEFEF;

    .home {
      padding-top: 30px;

      .banner {
        width: 100%;
        min-height: 126px;
        background-image: url('#{$img-url-home}nav_bg.png');
        background-size: 100% 100%;
        margin-bottom: 26px;
    }

    .message {
        width: 100%;
        min-height: 214px;
        background-color: white;

        .row {
          //height: 100%;
          margin: 0;
          .col {
            padding: 0;
          }
        }
        h4 {
          font-size: $font-size-xl;
          font-weight: bold;
          line-height: $font-size-xl;
        }
        h5 {
          color: $color-n;
          font-size: $font-size-l;
        }
        b {
          font-size: $font-size-m;
        }
        p {
          color: $color-gray;
          font-size: $font-size-s;
        }
        .top {
          border-bottom: 1px solid $color-border-gray;
        }
        .bottom {
          .col-auto {
            border-left: 1px solid $color-border-gray;

            .tip-item {
              width: 168px;
            }

            &:first-child {
              border-left: none;
              padding-left: 0;

              .tip-item {
                width: auto;
                padding-right: 50px;
              }
            }
          }
        }
    }

    .list {
      width: 100%;
      min-height: 441px;
      background-color: white;
      margin-top: 25px;

      .my-nav-tabs {
        .nav-tabs {
          min-height: 54px;
        }
      }

      .tab-content {
        min-height: 516px;

        .tab-pane {
          min-height: 516px;
          .list-group {
            min-height: 516px;
            .list-group-item {
              min-height: 516px;
            }
          }
        }
        .empty {
          min-height: 516px;
          img {
            margin-bottom: 30px;
          }
          p {
            color: #9FA0A0;
          }
        }
      }
    }

    .general {
      height: 100%;
      background-color: white;
      padding: 38px 23px;

      .avatar {
        margin-bottom: 21px;
      }
      h3 {
        font-size: $font-size-l;
      }
      h4 {
        font-size: $font-size-n;
        margin-bottom: 0;
      }
      h5 {
        font-size: $font-size-m;
      }
      p {
        font-size: $font-size-s;
      }
      .list-item {
        padding-top: 26px;
        padding-bottom: 26px;

        .title {
          img {
            margin-right: 10px;
          }
        }
      }
      .content {
        margin-top: 26px;

        h3 {
          color: $color-blue;
        }
        p {
          margin-bottom: 0;
        }
        .col {
          border-left: 1px solid $color-border-gray;
          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}

.second-navbar {
  background-color: white;

  .jobs {
    margin-left: 362px;
  }

  .container {
    min-height: 60px;
  }

  .my-nav-tabs {
    min-height: 60px;

    .nav-tabs {
      min-height: 60px;
      border-bottom: none;

      .nav-item {
        width: 139px;
        min-height: 60px;
        padding-top: 0;

        a {
          padding: 0;
          line-height: 60px;
          &:hover {
            border-bottom: 3px solid $color-red;
          }
        }
        a.active {
          color: $color-red;
          border-bottom: 3px solid $color-red;
        }
        a.nav-link {

        }
      }
    }
  }
}

.job-create {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;

  .default-form {

    .btn-form-submit {
      margin-top: 100px;
    }

    .form-header {
      height: 54px;
    }

    .form-body {
      padding-left: 55px;
      //padding-top: 49px;

      .form-group {
        min-height: 30px;
        margin-left: 87px;
        margin-bottom: 18px;

        span {
          color: $color-red;

          &:first-child {
            width: 11px;
          }
        }

        input.form-control {
          //height: 30px;
          line-height: 30px;
          //border: 1px solid $color-n;

          &::-webkit-input-placeholder {
            font-size: $font-size-m;
            color: $color-silvery-gray;
             text-align: left;
          }
        }

        .normal {
          min-width: 429px;
        }

        input.small {
          width: 53px;
        }
      }

      .form-title {
        border-left: 3px solid $color-red;
        padding-left: 15px;
        margin-bottom: 37px;
        margin-top: 61px;

        h5 {
          font-size: $font-size-l;
        }

        p {
          font-size: $font-size-m;
        }
      }
    }
  }
}

.job-list {
  margin-top: 25px;

  .job-list-body {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 113px;
  }

  .default-list {
    padding-top: 48px;

    .btn {
      width: 93px;
      //height: 29px;
    }
  }
}

.default-table {
  border: 1px solid rgba(216, 56 ,86, 0.1);
  font-size: 14px;

  thead {
    background-color: rgba(216, 56 ,86, 0.1);

    th {
      color: $color-red;
      font-weight: normal;
      border-top: 1px solid rgba(216, 56 ,86, 0.1);
      border-bottom: 1px solid rgba(216, 56 ,86, 0.1);
    }
  }

  td {
    border-bottom: 1px solid rgba(216, 56 ,86, 0.1);

    a {
      &:hover {
        color: $color-red;
      }
    }
  }
}

.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: white;
      }
      &:nth-of-type(even) {
        background-color: rgba(216, 56 ,86, 0.03);
      }
    }
  }
}

.pagination {
  li {
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .page-item {
    .page-link {
      width: 30px;
      height: 30px;
      color: black;
      border-color: $color-n;
      border-radius: 5px;
      padding: 0;
      padding-top: 3px;
      padding-bottom: auto;
    }
    .active {
      .page-link {
        background-color: white;
        border-color: $color-red;
        color: $color-red;
      }
    }
  }
}

.btn-dropdown {
  width: 97px;
  height: 30px;
  border: 1px solid $color-border-gray;
  padding: 0;
  line-height: 30px;
}

.job-detail {

  .job-detail-header {
    min-height: 260px;
    margin-top: 24px;
    padding: 32px 36px 26px 36px;

    .btn-danger {
      width: 79px;
      height: 30px;
      font-size: 12px;
    }

    .row {

      &:nth-child(2) {
      margin-top: 53px;
      }
      &:nth-child(3) {
        margin-top: 23px;

        .col-auto {
          //padding-right: 26px;

          &:not(:first-child) {
            //padding-left: 26px;
            //border-left: 1px solid $color-border-gray;
          }
        }
      }
      &:nth-child(4) {
        margin-top: 58px;

        .col-auto {
          //padding-right: 15px;

          &:not(:first-child) {
            //padding-left: 26px;
            //border-left: 1px solid $color-border-gray;
          }
        }
      }
    }

    small {
      color: $color-light-gray;
      font-size: $font-size-s;
    }
    p {
      color: $color-light-gray;
      font-size: $font-size-m;
      margin-bottom: 0;
    }
    h1 {
      color: $color-n;
      font-size: $font-size-xl;
      margin-bottom: 0;
    }
    h5 {
      color: $color-n;
      font-size: $font-size-n;
    }
    h6 {
      color: $color-silvery-gray;
      font-size: $font-size-m;
      margin-bottom: 0;

      label {
        color: $color-n;
        font-size: $font-size-n;
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }

  .job-detail-list {
    margin-top: 22px;

    .my-nav-tabs-top {
      margin-top: 18px;
      margin-bottom: 30px;

      .nav-tabs {

        .nav-item  {
          width: 129px;
          height: 30px;

          a {
            font-size: $font-size-m;
            line-height: 28px;
          }

          a.active {
            border: none;
            background-color: $color-red;
            color: white;
          }
        }
      }
    }
  }
}
