html,
body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  background-color: #fff;
  color: #3E3A39;
  font-size: 16px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.color-red {
  color: #D83856;
}

.divider {
  color: #C9CACA;
}

.login-bg-1 {
  background-image: url(/images/bg_1.jpg?ed5a17a6590adb5be73c10f26ee34638);
  background-size: cover;
}

.login-bg-2 {
  background-image: url(/images/bg_2.jpg?04064c28b7981dac44f2f17cf575180b);
  background-size: cover;
}

.login-bg-3 {
  background-image: url(/images/bg_3.jpg?4aa1644c8064682390588f5c1bf15236);
  background-size: cover;
}

.login-bg-4 {
  background-image: url(/images/bg_4.jpg?2badca1b19faad51800a906057d5596c);
  background-size: cover;
}

.login-bg-5 {
  background-image: url(/images/bg_5.jpg?ea9f662094e21ac8fde9c0301d81256b);
  background-size: cover;
}

.tag-red {
  background-color: #D83856;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  width: 67px;
  height: 21px;
  line-height: 21px;
  /*cursor: default;*/
}

.container {
  height: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.login-card {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -195px;
  width: 380px;
  height: 390px;
}

.login-card .card {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-card .card .card-header {
  border: none;
  background: transparent;
}

.login-card .card .card-body .login-form input.form-control {
  border: none;
  background: transparent;
  outline: none;
}

.login-card .card .card-body .login-form input.form-control:focus {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.login-card .card .card-body .login-form .form-group {
  border-bottom: 1px solid #e6e5e7;
}

.login-card .card .card-body .login-form .input-group .input-group-addon {
  padding-top: 5px;
}

.login-card .card .card-body .login-form .btn-login {
  width: 320px;
}

.login-card .card .card-body .forget {
  padding: 15px 0 20px 0;
}

.login-card .card .card-body .forget a {
  font-size: 12px;
  color: #595757;
}

.login-card .card .card-footer {
  background: transparent;
  border: none;
}

.login-card .card .card-footer p {
  font-size: 12px;
  color: #595757;
}

.login-card .card .card-footer a {
  font-size: 12px;
  color: #595757;
}

.navbar {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #303540;
  min-height: 60px;
  /*padding-left: 260px;*/
  padding-left: 0;
  padding: 0;
}

.navbar .navbar-nav .nav-item {
  width: 140px;
  min-height: 60px;
  position: relative;
}

.navbar .navbar-nav .nav-item .triangle-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
}

.navbar .navbar-nav .nav-item a.nav-link {
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
}

.navbar .navbar-nav .nav-item:hover a.nav-link {
  color: white;
}

.navbar .navbar-nav .active {
  color: white;
  background-color: #D83856;
}

#navbarNavDropdown {
  margin-left: 210px;
}

.notice {
  padding-top: 4px;
}

.notice img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -9.5px;
  margin-top: -10.5px;
  width: 19px;
  height: 21px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #EFEFEF;
}

.my-menu {
  margin-left: 15px;
}

.my-nav-tabs > .nav-tabs {
  margin-left: 40px;
  border-bottom: 1px solid #C9CACA;
}

.my-nav-tabs > .nav-tabs .nav-item {
  padding-right: 40px;
  padding-top: 20px;
}

.my-nav-tabs > .nav-tabs .nav-item a {
  color: #3E3A39;
  border: none;
}

.my-nav-tabs > .nav-tabs .nav-item a:hover {
  border: none;
  border-bottom: 2px solid #D83856;
}

.my-nav-tabs > .nav-tabs .nav-item a.active {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #D83856;
}

.my-nav-tabs-top .nav-tabs {
  border-bottom: 0;
}

.my-nav-tabs-top .nav-tabs .nav-item {
  width: 129px;
  height: 50px;
}

.my-nav-tabs-top .nav-tabs .nav-item a.nav-link {
  color: #3E3A39;
  line-height: 48px;
  padding: 1px 0 0 0;
  border-top: 1px solid #C9CACA;
  border-right: 1px solid #C9CACA;
  border-bottom: 1px solid #C9CACA;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.my-nav-tabs-top .nav-tabs .nav-item a.active {
  padding-top: 0;
  border-top: 2px solid #D83856;
  border-left: none;
  border-bottom: none;
}

.main-bg {
  background-color: #EFEFEF;
}

.main-bg .home {
  padding-top: 30px;
}

.main-bg .home .banner {
  width: 100%;
  min-height: 126px;
  background-image: url(/images/nav_bg.png?9366292c4facd1d9cf329f6a5e693fdf);
  background-size: 100% 100%;
  margin-bottom: 26px;
}

.main-bg .home .message {
  width: 100%;
  min-height: 214px;
  background-color: white;
}

.main-bg .home .message .row {
  margin: 0;
}

.main-bg .home .message .row .col {
  padding: 0;
}

.main-bg .home .message h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.main-bg .home .message h5 {
  color: #3E3A39;
  font-size: 18px;
}

.main-bg .home .message b {
  font-size: 14px;
}

.main-bg .home .message p {
  color: #898989;
  font-size: 12px;
}

.main-bg .home .message .top {
  border-bottom: 1px solid #C9CACA;
}

.main-bg .home .message .bottom .col-auto {
  border-left: 1px solid #C9CACA;
}

.main-bg .home .message .bottom .col-auto .tip-item {
  width: 168px;
}

.main-bg .home .message .bottom .col-auto:first-child {
  border-left: none;
  padding-left: 0;
}

.main-bg .home .message .bottom .col-auto:first-child .tip-item {
  width: auto;
  padding-right: 50px;
}

.main-bg .home .list {
  width: 100%;
  min-height: 441px;
  background-color: white;
  margin-top: 25px;
}

.main-bg .home .list .my-nav-tabs .nav-tabs {
  min-height: 54px;
}

.main-bg .home .list .tab-content {
  min-height: 516px;
}

.main-bg .home .list .tab-content .tab-pane {
  min-height: 516px;
}

.main-bg .home .list .tab-content .tab-pane .list-group {
  min-height: 516px;
}

.main-bg .home .list .tab-content .tab-pane .list-group .list-group-item {
  min-height: 516px;
}

.main-bg .home .list .tab-content .empty {
  min-height: 516px;
}

.main-bg .home .list .tab-content .empty img {
  margin-bottom: 30px;
}

.main-bg .home .list .tab-content .empty p {
  color: #9FA0A0;
}

.main-bg .home .general {
  height: 100%;
  background-color: white;
  padding: 38px 23px;
}

.main-bg .home .general .avatar {
  margin-bottom: 21px;
}

.main-bg .home .general h3 {
  font-size: 18px;
}

.main-bg .home .general h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.main-bg .home .general h5 {
  font-size: 14px;
}

.main-bg .home .general p {
  font-size: 12px;
}

.main-bg .home .general .list-item {
  padding-top: 26px;
  padding-bottom: 26px;
}

.main-bg .home .general .list-item .title img {
  margin-right: 10px;
}

.main-bg .home .general .content {
  margin-top: 26px;
}

.main-bg .home .general .content h3 {
  color: #2EA7E0;
}

.main-bg .home .general .content p {
  margin-bottom: 0;
}

.main-bg .home .general .content .col {
  border-left: 1px solid #C9CACA;
}

.main-bg .home .general .content .col:first-child {
  border-left: none;
}

.second-navbar {
  background-color: white;
}

.second-navbar .jobs {
  margin-left: 362px;
}

.second-navbar .container {
  min-height: 60px;
}

.second-navbar .my-nav-tabs {
  min-height: 60px;
}

.second-navbar .my-nav-tabs .nav-tabs {
  min-height: 60px;
  border-bottom: none;
}

.second-navbar .my-nav-tabs .nav-tabs .nav-item {
  width: 139px;
  min-height: 60px;
  padding-top: 0;
}

.second-navbar .my-nav-tabs .nav-tabs .nav-item a {
  padding: 0;
  line-height: 60px;
}

.second-navbar .my-nav-tabs .nav-tabs .nav-item a:hover {
  border-bottom: 3px solid #D83856;
}

.second-navbar .my-nav-tabs .nav-tabs .nav-item a.active {
  color: #D83856;
  border-bottom: 3px solid #D83856;
}

.job-create {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;
}

.job-create .default-form .btn-form-submit {
  margin-top: 100px;
}

.job-create .default-form .form-header {
  height: 54px;
}

.job-create .default-form .form-body {
  padding-left: 55px;
}

.job-create .default-form .form-body .form-group {
  min-height: 30px;
  margin-left: 87px;
  margin-bottom: 18px;
}

.job-create .default-form .form-body .form-group > span {
  color: #D83856;
}

.job-create .default-form .form-body .form-group > span:first-child {
  width: 11px;
}

.job-create .default-form .form-body .form-group input.form-control {
  line-height: 30px;
}

.job-create .default-form .form-body .form-group input.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #B5B5B6;
  text-align: left;
}

.job-create .default-form .form-body .form-group .normal {
  min-width: 429px;
}

.job-create .default-form .form-body .form-group input.small {
  width: 53px;
}

.job-create .default-form .form-body .form-title {
  border-left: 3px solid #D83856;
  padding-left: 15px;
  margin-bottom: 37px;
  margin-top: 61px;
}

.job-create .default-form .form-body .form-title h5 {
  font-size: 18px;
}

.job-create .default-form .form-body .form-title p {
  font-size: 14px;
}

.job-list {
  margin-top: 25px;
}

.job-list .job-list-body {
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;
}

.job-list .job-list-body .default-list {
  padding-top: 48px;
}

.job-list .job-list-body .default-list .btn {
  width: 93px;
}

.job-list .job-list-body .empty {
  padding-top: 48px;
}

.job-list .tab-content {
  margin-top: 1px;
}

.job-list .tab-content .list-group-item {
  padding: 0;
}

.default-table {
  border: 1px solid rgba(216, 56, 86, 0.1);
  font-size: 14px;
}

.default-table thead {
  background-color: rgba(216, 56, 86, 0.1);
}

.default-table thead th {
  color: #D83856;
  font-weight: normal;
  border-top: 1px solid rgba(216, 56, 86, 0.1);
  border-bottom: 1px solid rgba(216, 56, 86, 0.1);
}

.default-table td {
  border-bottom: 1px solid rgba(216, 56, 86, 0.1);
}

.default-table td a:hover {
  color: #D83856;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(216, 56, 86, 0.03);
}

.pagination li {
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}

.pagination .page-item .page-link {
  width: 30px;
  height: 30px;
  color: black;
  border-color: #3E3A39;
  border-radius: 5px;
  padding: 0;
  padding-top: 3px;
  padding-bottom: auto;
}

.pagination .active .page-link {
  background-color: white;
  border-color: #D83856;
  color: #D83856;
}

.pagination .page-goto {
  margin-left: 31px;
}

.pagination .page-goto input {
  width: 56px;
  height: 29px;
  line-height: 29px;
  margin-left: 8px;
  margin-right: 8px;
}

.btn-dropdown {
  width: 97px;
  height: 30px;
  border: 1px solid #C9CACA;
  padding: 0;
  line-height: 30px;
}

.job-detail .job-detail-header {
  min-height: 260px;
  margin-top: 24px;
  padding: 32px 36px 26px 36px;
}

.job-detail .job-detail-header form {
  display: inline;
}

.job-detail .job-detail-header .btn-danger {
  width: 79px;
  height: 30px;
  font-size: 12px;
}

.job-detail .job-detail-header .row:nth-child(2) {
  margin-top: 53px;
}

.job-detail .job-detail-header .row:nth-child(3) {
  margin-top: 23px;
}

.job-detail .job-detail-header .row:nth-child(4) {
  margin-top: 58px;
}

.job-detail .job-detail-header small {
  color: #727171;
  font-size: 12px;
}

.job-detail .job-detail-header p {
  color: #727171;
  font-size: 14px;
  margin-bottom: 0;
}

.job-detail .job-detail-header h1 {
  color: #3E3A39;
  font-size: 24px;
  margin-bottom: 0;
}

.job-detail .job-detail-header h5 {
  color: #3E3A39;
  font-size: 16px;
}

.job-detail .job-detail-header h6 {
  color: #B5B5B6;
  font-size: 14px;
  margin-bottom: 0;
}

.job-detail .job-detail-header h6 label {
  color: #3E3A39;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 0;
}

.job-detail .job-detail-list {
  margin-top: 22px;
}

.job-detail .job-detail-list .my-nav-tabs-top {
  margin-top: 18px;
  margin-bottom: 30px;
}

.job-detail .job-detail-list .my-nav-tabs-top .nav-tabs .nav-item {
  width: 129px;
  height: 30px;
}

.job-detail .job-detail-list .my-nav-tabs-top .nav-tabs .nav-item a.nav-link {
  font-size: 14px;
  line-height: 28px;
  padding-top: 0;
}

.job-detail .job-detail-list .my-nav-tabs-top .nav-tabs .nav-item a.active {
  border: none;
  padding: 1px;
  background-color: #D83856;
  color: white;
}

.modal .modal-content {
  width: 276px;
  min-height: 256px;
}

.modal .modal-content .modal-body .container-fluid .row:nth-child(1) .col-auto {
  padding-top: 27px;
  padding-bottom: 30px;
}

.modal .modal-content .modal-body .container-fluid .row:nth-child(3) .col-auto {
  padding-top: 21px;
  padding-bottom: 31px;
}

.modal .modal-content .btn-modal {
  width: 103px;
  height: 34px;
  line-height: 34px;
  border-radius: 10px;
  color: white;
  padding: 0;
}

.modal .modal-content .btn-success {
  background-color: #3FC382;
}

.modal .modal-content .btn-fail {
  background-color: #F54847;
}

.modal .modal-content ul {
  padding: 0;
  margin: 0;
}

.draft-table tr {
  cursor: pointer;
}

.draft-table tr:hover td {
  background-color: rgba(181, 181, 182, 0.1);
}

