@import '../common.scss';

.bg-gray {
  background-color: #F7F8F8;
}

.resume-create {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;

  .addItem {
    width: 760px;
    height: 80px;
    border: 1px dashed #D83856;
    cursor: pointer;
    line-height: 80px;
    color: #D83856;
  }
}

.resume-list {
  margin-top: 25px;
  padding: 0 92px;

  .resume-list-header {
    padding-top: 34px;
    padding-bottom: 23px;
    border-bottom: 1px solid $color-border-gray;
  }

  .resume-list-body {
    padding-bottom: 113px;

    .default-list {
      padding-top: 48px;
    }
  }
}

.resume-show {
  padding-top: 30px;

  .resume-show-body {
    .body-title {
      height: 54px;
      border: 1px solid $color-french-gray;

      .trapezoid {
        width: 115px;
        height: 0;
        border-width: 0 15px 42px 15px;
        border-style: none solid solid;
        border-color: transparent transparent white;
        line-height: 42px;
        margin-bottom: 2px;
      }

      > .row {
        &:first-child {
          height: 54px;
        }
      }
    }

    .body-contant {
      border: 1px solid $color-french-gray;
      border-top: none;
      padding-left: 38px;
      padding-right: 38px;

      > .row {
        &:first-child {
          //padding: 41px 38px 31px 38px;
          padding-top: 41px;
          padding-bottom: 31px;

          > .col {
            &:first-child {
              > .row {
                height: 100%;
              }
            }
            &:nth-child(2) {
              > .row {
                &:not(:first-child) {
                  > .col {
                    &:not(:first-child) {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 0px;
                        background: $color-french-gray;
                        width: 1px;
                        height: 13px;
                      }
                      //border-left: 1px solid $color-light-gray;
                    }
                  }
                }

                &:nth-child(1) {
                  margin-bottom: 26px;
                }
                &:nth-child(2) {
                  margin-bottom: 13px;
                }
                &:nth-child(3) {
                  margin-bottom: 21px;
                }
                &:nth-child(4) {
                  margin-bottom: 46px;
                }
              }
            }
            &:nth-child(3) {
              a {
                &:hover {
                  color: $color-red;
                }
              }
            }
          }
        }

        &:not(:first-child) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }

  .nav-remarks {
    .nav-remarks-title {
      height: 54px;
      border: 1px solid $color-french-gray;
      padding-left: 30px;

      > .row {
        &:first-child {
          height: 100%;
        }
      }
    }

    .nav-remarks-contant {
      border: 1px solid $color-french-gray;
      border-top: none;
      padding: 30px;
    }
  }

  .nav-ap {
    margin-top: 25px;
    padding-left: 30px;
    padding-bottom: 70px;
    border: 1px solid $color-french-gray;

    ul {
      padding-left: 0;

      li {
        height: 43px;
        line-height: 43px;

        &:first-child {
          padding-left: 30px;
        }

        &:not(:first-child) {
          padding-left: 30px;
          border-left: 1px solid $color-french-gray;
          cursor: pointer;

          &:hover {
            color: $color-red;
            border-left-color: $color-red;
          }

          > a {
            //height: 100%;
            //width: 100%;
            color: $color-n;

            &:hover {
              color: $color-red;
            }
          }
        }
      }

      li.active {
        color: $color-red;
        border-left-color: $color-red;
      }
    }
  }

  h5 {
    border-left: 4px solid $color-red;
    padding-left: 15px;
    margin-bottom: 25px;
  }
}

.resume-search {
  margin-top: 25px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 113px;

  .resume-search-form {
    .form-control {
      width: 380px;
      line-height: 30px;
      border-radius: 5px;

      &::-webkit-input-placeholder {
        font-size: $font-size-n;
        color: $color-silvery-gray;
        text-align: left;
      }

      .input-group {
        .append {
          &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }

    .normal {
      width: 160px;
    }

    .small {
      width: 80px;
    }

    .append {
      width: 338px;
    }

    .resume-search-header {
      max-height: 245px;
      padding-top: 55px;
      padding-bottom: 26px;
      padding-left: 93px;
      padding-right: 93px;
      background-color: $color-ashy;

      .cur-jobs {
        width: 407px;
        border: 1px solid $color-border-gray;
        border-radius: 5px;
        cursor: pointer;

        span {
          &:nth-child(2) {
            max-width: 157px;
          }
          &:nth-child(3) {
            max-width: 74px;
          }
          &:nth-child(3) {
            max-width: 74px;
          }
        }
      }
    }

    .resume-search-body {
      padding-top: 31px;
      padding-bottom: 31px;
      padding-left: 93px;
      padding-right: 93px;
      background-color: white;
    }

    .resume-search-footer {
      padding-bottom: 56px;
      padding-left: 93px;
      padding-right: 93px;
      background-color: white;
    }
  }
}

.resume-list-general {
  .resume-table-general {
    border: 1px solid rgba(137, 137, 137, 0.1);

    thead {
      font-size: $font-size-m;
      font-weight: bold;
      background-color: $color-ashy;
      border: none;

      tr {
        border: none;

        th {
          border: none;
          //border-top: 1px solid rgba(137, 137, 137, 0.1);
        }
      }
    }

    tbody {
      tr {
        border: none;

        &:not(:first-child) {
          border-top: 1px solid rgb(201, 202, 202),
        }
      }
    }
  }
}
